.chat-header {
    height: 70px;
    background-color: #FF8000 !important;
}

.orange-button {
    color: white;
    background-color: #E67300;
    border-radius: 15px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    border: 1px solid white;
    margin-left: 20px;
}

.orange-button:hover {
    background-color: white;
    color: #E67300;
}
